build/
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/Solar
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7247cefb5276aa1be42f.json
build/.cmake/api/v1/reply/cmakeFiles-v1-6ed20de53257d8961b72.json
build/.cmake/api/v1/reply/codemodel-v2-59db57a8ff3dbe5f5a7a.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-02-16T06-19-32-0445.json
build/.cmake/api/v1/reply/target-Solar_SUCCESSFUL-Debug-0bf028b47119e820fa19.json
build/.cmake/api/v1/reply/target-Solar-Debug-cd5736aafe8a9e3b41d4.json
build/.cmake/api/v1/reply/toolchains-v1-0dec0620bd9b8879ca34.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.4/CMakeSystem.cmake
build/CMakeFiles/3.27.4/CompilerIdC/a.out
build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.4/CompilerIdCXX/a.out
build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Solar.dir/build.make
build/CMakeFiles/Solar.dir/cmake_clean.cmake
build/CMakeFiles/Solar.dir/compiler_depend.internal
build/CMakeFiles/Solar.dir/compiler_depend.make
build/CMakeFiles/Solar.dir/compiler_depend.ts
build/CMakeFiles/Solar.dir/depend.make
build/CMakeFiles/Solar.dir/DependInfo.cmake
build/CMakeFiles/Solar.dir/flags.make
build/CMakeFiles/Solar.dir/link.txt
build/CMakeFiles/Solar.dir/progress.make
build/CMakeFiles/Solar.dir/src/camera.cpp.o
build/CMakeFiles/Solar.dir/src/camera.cpp.o.d
build/CMakeFiles/Solar.dir/src/engine.cpp.o
build/CMakeFiles/Solar.dir/src/engine.cpp.o.d
build/CMakeFiles/Solar.dir/src/graphics.cpp.o
build/CMakeFiles/Solar.dir/src/graphics.cpp.o.d
build/CMakeFiles/Solar.dir/src/input.cpp.o
build/CMakeFiles/Solar.dir/src/input.cpp.o.d
build/CMakeFiles/Solar.dir/src/interface.cpp.o
build/CMakeFiles/Solar.dir/src/interface.cpp.o.d
build/CMakeFiles/Solar.dir/src/main.cpp.o
build/CMakeFiles/Solar.dir/src/main.cpp.o.d
build/CMakeFiles/Solar.dir/src/object.cpp.o
build/CMakeFiles/Solar.dir/src/object.cpp.o.d
build/CMakeFiles/Solar.dir/src/shader.cpp.o
build/CMakeFiles/Solar.dir/src/shader.cpp.o.d
build/CMakeFiles/Solar.dir/src/texture.cpp.o
build/CMakeFiles/Solar.dir/src/texture.cpp.o.d
build/CMakeFiles/Solar.dir/src/tinyxml2.cpp.o
build/CMakeFiles/Solar.dir/src/tinyxml2.cpp.o.d
build/CMakeFiles/Solar.dir/src/window.cpp.o
build/CMakeFiles/Solar.dir/src/window.cpp.o.d
build/CMakeFiles/Solar.dir/src/xmlLoader.cpp.o
build/CMakeFiles/Solar.dir/src/xmlLoader.cpp.o.d
build/CMakeFiles/Solar_SUCCESSFUL.dir/build.make
build/CMakeFiles/Solar_SUCCESSFUL.dir/cmake_clean.cmake
build/CMakeFiles/Solar_SUCCESSFUL.dir/compiler_depend.make
build/CMakeFiles/Solar_SUCCESSFUL.dir/compiler_depend.ts
build/CMakeFiles/Solar_SUCCESSFUL.dir/DependInfo.cmake
build/CMakeFiles/Solar_SUCCESSFUL.dir/progress.make
build/models/cube.mtl
build/models/cube.obj
build/models/cylinder.mtl
build/models/cylinder.obj
build/models/largering.mtl
build/models/largering.obj
build/models/pyramid.obj
build/models/SaturnRing.mtl
build/models/SaturnRing.obj
build/models/smallring.mtl
build/models/smallring.obj
build/models/sphere.mtl
build/models/sphere.obj
build/shaders/frag.glsl
build/shaders/vert.glsl
build/textures/BigRing.jpg
build/textures/brick.jpg
build/textures/cracks.jpg
build/textures/Earth.jpg
build/textures/Earth0.jpg
build/textures/Earth1.jpg
build/textures/grass.jpg
build/textures/Jupiter.jpg
build/textures/Jupiter0.jpg
build/textures/Jupiter1.jpg
build/textures/Mars.jpg
build/textures/Mercury.jpg
build/textures/Moon.jpg
build/textures/Neptune.jpg
build/textures/Pluto.jpg
build/textures/Saturn.jpg
build/textures/SmallRing.jpg
build/textures/Sun.jpg
build/textures/Uranus.jpg
build/textures/Venus.jpg
